/** @format */
/*All pages have this set of code in all pages unless otherwise has a code of another sort. Used Times Roman serif to */
body {
  background-color: rgb(112, 86, 57);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
/**/
.background-image {
  background-image: url("mockImgs/Reading-List+.jpg");
}
/**/
.girl-infront {
  margin-left: 350px;
  padding: 10px;
}
/**/
#search-bar {
  text-align: right;
  float: right;
  padding: 4px;
  margin: 25px;
}
/**/
nav {
  background: rgb(72, 40, 4);
  height: 80px;
  width: 100%;
}
/**/
nav ul {
  float: right;
  margin-right: 20px;
}
/*nav ul li a{
  color: white;
}*/
.nav-link {
  float: left;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  margin: 0 2px;
  padding: 6px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
}
/**/
.nav-link:hover {
  color: #bca993;
}
/**/
label.logo {
  color: rgb(228, 228, 228);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
/**/
#sign-up {
  font-size: 25px;
}
/**/
#contact-link {
  font-size: 25px;
}
/**/
#whats-happen {
  font-size: 20px;
  color: #9e9d82;
  padding: 310px;
  margin-left: 0px;
}
/**/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/**/
.book-content {
  color: #efefef;
}
/**/
#back-book {
  background-image: url("mockImgs/Reading-List+.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
/**/
#lib-name {
  font-size: 47px;
  padding: 30px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0.815);
  /*#5c5b45*/
}
/**/
/*nav ul{
  list-style-type: none;
  margin: 7px;
  padding: 15px;
  overflow: hidden;
  background-color: cornsilk;
}*/
/*
#sign-up {
}
#contact-link {
}*/
/*Content for the book page, this page has been added but from another source. It's the same but a bit different*/
/** @format */
/**/
#this-book {
  /* position: absolute;
  right: 150px; */
  width: 300px;
  height: 412px;
  border: 8px solid rgb(20, 20, 20);
  padding: 20px;
}
/**/
#first-title {
  bottom: 5px;
  margin-left: 15%;
}
/**/
#novel-author {
  bottom: 5px;
  margin-left: 19%;
}

/*#top-title {
  font-family: Franklin Gothic Medium;
  color: rgb(255, 255, 255);
  font: 400px;
}*/
/*This the style for the links (sign-up) disguised as buttons placed at the bottom of the HoME page. No background for this one. Credit to W3schools for the code that starts here. */
#sign-up:link,
#sign-up:visited {
  background-color: none;
  color: white;
  padding: 14px 25px;
  margin: 90px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  display: block;
  position: fixed;
  bottom: 40px;
  left: 0px;
  right: 600px;
}
/*This the after effect of the button, background will change to another color when you haver on top of it*/
#sign-up:hover,
#sign-up:active {
  background-color: #bca993;
}
/*This the link button that is for the contact button*/
#con-tacts:link,
#con-tacts:visited {
  background-color: #5c5b45;
  color: white;
  padding: 14px 20px;
  margin: 15px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-width: 25px 10px 4px 35px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 600px;
}
#con-tacts:hover,
#con-tacts:active {
  background-color: #bca993;
}
/*Credit from W3schools ends here*/
.whats-happen {
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 600px;
  color: #bca993;
}
/*This is where the content for the event page is displayed. There might be some scattered in different areas in the code, but it's quite easy to identify*/
.event-content {
  font-size: 20px;
  bottom: 5px;
  margin-left: 12%;
  line-height: 140%;
  color: rgb(224, 223, 222);
}
/*This for the event titles that are styled the same so there is no difficulty in adding new content when you need to. It will be lied up with the others.*/
.event-titles {
  font-size: 25px;
  margin-left: 10%;
  line-height: 140%;
  word-spacing: 4px;
  color: #9e9d82;
}
/*This is the title displayed before all the other content also known as the head title of the page where it introduces or gives a little insight on what the page is about*/
#event-title {
  font-size: 40px;
  margin-left: 9%;
  padding: 10px;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #bca993;
}
/*This is where the event contact page stops*/
/*#f5e9db*/
/*This is a test of for the socials bar that is put on the left side of the page*/
body {
  margin: 0;
  height: 2000px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/*Book Finder section*/
/**/

/*For teh slideshow*/
/*This is the display for the caption text on the slideshow. Each one will have a different captions according to the image you would like to present.*/
#cap-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/*.slide-button{
}*/
/**/
/**/
